<footer class="footer">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <h2>HABLEMOS</h2>
            <div class="sticky-banner">
               <div class="container">
                  <div class="row">
                     <a aria-label="Chat on WhatsApp" href="https://wa.me/5510806059" target="_blank"
                        rel="noopener noreferrer"> WhatsApp: 55 1080 6059 </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 footer--legales">
            <picture>
               <img src="../img/logo-bnn-blanco.svg" alt="" />
            </picture>
            <h6>BNN® Your digital partner. Todos los derechos reservados.</h6>
            <h6>Rosaleda 34, Lomas Altas, C.P. 11950, CDMX</h6>
         </div>
      </div>
   </div>
</footer>
