<div class="container">
   <div class="row">
      <div class="col-12">
         <a href="./"><img class="header--logo" src="../img/logo-bnn.svg" alt="" /></a>
         <a href="./../en/" id="link-lang">E N</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
         <nav class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul>
               <li>
                  <a href="./" class="text-decoration-none"><span>HOME</span></a>
               </li>
               <li>
                  <a href="humans.html" class="text-decoration-none"><span>Humans after all</span></a>
               </li>
               <li>
                  <a href="index.html#servicios" class="text-decoration-none"><span>THE MACHINERY</span></a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>
