@mixin text-xxl-80 {
    font-size: calc(70px + 2 * ((100vw - 1920px) / 1280));
    line-height: normal;
}

@mixin text-xl-60 {
    font-size: calc(56px + 2 * ((100vw - 1920px) / 1280));
    line-height: normal;
}

@mixin text-lg-40 {
    font-size: 2.5rem;
    line-height: 2.75rem;
}

@mixin text-lg-30 {
    font-size: calc(30px + 6 * ((100vw - 1920px) / 1280));
    line-height: normal;
}

@mixin text-md-26 {
    font-size: calc(26px + 6 * ((100vw - 1920px) / 1280));
    line-height: normal;
}

@mixin text-md-24 {
    font-size: calc(24px + 6 * ((100vw - 1920px) / 1280));
    line-height: normal;
}

@mixin text-sm-18 {
    font-size: calc(18px + 2 * ((100vw - 1920px) / 1280));
    line-height: 1.6;
}

@mixin text-sm-16 {
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin text-xs-12 {
    font-size: 0.75rem;
    line-height: 1rem;
}

@mixin text-xs-10 {
    font-size: 0.625rem;
    line-height: 1rem;
}
