.sticky-banner {
    // position: absolute;
    // bottom: 120px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 2;
    position: relative;
    height: auto;

    .row {
        border: 1px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background: linear-gradient(
            0deg,
            rgba(45, 45, 45, 0.6) -48.44%,
            rgba(45, 45, 45, 0.6) -12.82%,
            rgba(45, 45, 45, 0.6) 100%
        );
        border-radius: 32px;
        padding: var(--spacing-xl);
        row-gap: var(--spacing-lg);
    }

    p {
        text-align: center;
        font-size: 22px;
        font-weight: 100;
    }
}

.title-decorated {
    display: flex;
    flex-direction: column;

    h2 {
        @include text-xl-60;
        letter-spacing: calc(28px + 10 * ((100vw - 1280px) / 1920));
        @include font-primary-light;
        text-transform: uppercase;
        margin-right: -28px;

        span {
            @include font-primary-bold;
        }
    }

    h4 {
        color: var(--color-negro);
        letter-spacing: calc(12px + 10 * ((100vw - 1280px) / 1920));
        width: max-content;
        position: relative;
        padding: 8px 8px 8px 20px;
        text-transform: uppercase;

        &::before {
            content: "";
            background: var(--color-primario-400);
            position: absolute;
            border-radius: 4px 12px 4px 12px;
            inset: 0;
            z-index: -1;
            display: block;
            transform: skew(-10deg);
        }
    }

    h5 {
        @include text-md-24;
        letter-spacing: 10px;
        text-transform: uppercase;
    }
}

@media (max-width: 1280px) {
    .sticky-banner {
        .row {
            padding: var(--spacing-sm);
            border-radius: 0;
        }

        p {
            @include text-sm-16;
        }
    }

    .title-decorated {
        text-align: center;
        place-items: center;
        row-gap: var(--spacing-xs);

        h2 {
            font-size: 30px;
            letter-spacing: 14px;
        }

        h4 {
            font-size: 16px;
        }

        p {
            margin-top: var(--spacing-sm);
        }
    }
}
