& {
    @include font-primary-regular;
    color: var(--color-blanco);
    background: var(--color-negro);
    overflow-x: hidden;

    &#body-home {
        background: var(--color-negro-500);

        .header {
            position: fixed;
            width: 100%;
        }

        section:not(.footer, .logos, .sticky) {
            background: var(--color-negro-500);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    figure {
        margin: 0;
    }

    main {
        overflow: hidden;
    }

    section:not(.footer, .logos, .sticky) {
        background: var(--color-negro);
        z-index: 2;
        position: relative;

        &.full {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .container {
        @include media-breakpoint-up(xl) {
            max-width: none;
            padding: 0 80px;
        }
        @include media-breakpoint-up(xxl) {
            max-width: 1520px;
            // padding: 0;
        }
    }

    .custom-container {
        @include media-breakpoint-up(md) {
            @include make-container(48px);
        }

        @include media-breakpoint-up(lg) {
            @include make-container(128px);
        }

        @include media-breakpoint-up(xl) {
            @include make-container(118px);
        }

        @include media-breakpoint-up(xxl) {
            @include make-container(118px);
        }
    }
}
