.footer {
    position: relative;
    padding: 0 0 var(--spacing-xl);

    .container {
        padding: 0 40px;
    }

    .sticky-banner {
        width: max-content;
        top: 120px;
        position: absolute;

        .container {
            padding: var(--spacing-2xl);
            border-color: var(--color-blanco);
            border-radius: 20px;
        }
    }

    h2 {
        font-size: 200px;
        text-align: center;
        @include font-primary-bold;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: var(--spacing-lg);
        width: max-content;
        text-decoration: none;
        @include text-lg-40;
        @include font-primary-light;

        &::after {
            content: "";
            display: block;
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background: var(--icon-arrow) no-repeat center / 32px
                var(--color-gris-500);
            transition: 0.3s ease-in-out all;
        }

        @media (hover: hover) {
            &:hover {
                &::after {
                    border: 1px solid var(--color-blanco);
                    background: var(--icon-arrow-white) no-repeat center / 24px
                        var(--color-negro);
                }
            }
        }
    }

    &--legales {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 120px;

        h6 {
            font-size: 14px;
            @include font-primary-light;
            flex-basis: 30%;
            text-align: center;

            &:last-child {
                text-align: right;
            }
        }

        picture {
            display: block;
            flex-basis: 30%;
        }
    }
}

@media (max-width: 1280px) {
    .footer {
        padding-bottom: var(--spacing-lg);

        .sticky-banner {
            top: 0;
            position: relative;

            .container {
                padding: 0;
            }
        }

        h2 {
            font-size: 60px;
        }

        a {
            @include text-md-24;

            &::after {
                width: 34px;
                height: 34px;
                background-size: 20px;
            }
        }

        &--legales {
            padding-top: var(--spacing-4xl);
            flex-direction: column;
            row-gap: var(--spacing-md);
        }
    }
}
