.header {
    height: 104px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9;
    background: rgba(15, 16, 19, 1);
    background: -moz-linear-gradient(
        top,
        rgba(15, 16, 19, 1) 0%,
        rgba(15, 16, 19, 0) 100%
    );
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(15, 16, 19, 1)),
        color-stop(100%, rgba(15, 16, 19, 0))
    );
    background: -webkit-linear-gradient(
        top,
        rgba(15, 16, 19, 1) 0%,
        rgba(15, 16, 19, 0) 100%
    );
    background: -o-linear-gradient(
        top,
        rgba(15, 16, 19, 1) 0%,
        rgba(15, 16, 19, 0) 100%
    );
    background: -ms-linear-gradient(
        top,
        rgba(15, 16, 19, 1) 0%,
        rgba(15, 16, 19, 0) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(15, 16, 19, 1) 0%,
        rgba(15, 16, 19, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1013', endColorstr='#0f1013', GradientType=0 );

    .container {
        padding: 0 40px;
    }

    &--logo {
        width: 110px;
        object-fit: contain;
    }

    #link-lang {
        @include text-md-24;
        text-decoration: none;
        margin: 0 32px 0 auto;

        &::first-letter {
            letter-spacing: 10px;
        }

        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
                color: var(--color-primario-400);
            }
        }
    }

    .col-12 {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        background: var(--icon-ham) no-repeat center / 50px;
        width: 54px;
        height: 54px;
        border: 0;
        z-index: 9;
        transition: 0.3s ease-in-out;

        &:hover {
            background-image: var(--icon-ham-hover);
        }

        &[aria-expanded="true"] {
            background: var(--icon-close) no-repeat center / 40px;

            &:hover {
                background-image: var(--icon-close-hover);
            }
        }
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background: rgba(45, 45, 45, 0.3);
        z-index: 3;

        ul {
            list-style: none;
            padding: 0;
            display: grid;
            place-items: center;
            place-content: center;
            height: 100vh;
            counter-reset: menu;
            row-gap: var(--spacing-lg);

            li {
                counter-increment: section;
                display: flex;
                align-items: flex-start;
                column-gap: var(--spacing-md);
                @include font-primary-light;
                text-transform: uppercase;

                span {
                    transition: 0.3s ease-in-out all;
                    @include text-xl-60;
                    @include font-primary-light;
                    letter-spacing: 24px;
                }

                &:before {
                    content: "0" counter(section);
                    @include text-lg-30;
                    letter-spacing: 12px;
                }

                &::after {
                    content: "";
                    display: block;
                    background: var(--icon-rombo) no-repeat center / contain;
                    align-self: center;
                    width: 20px;
                    height: 20px;
                    margin-top: 20px;
                    transition: 0.3s ease-in-out all;
                }

                @media (hover: hover) {
                    &:hover {
                        span {
                            @include text-xxl-80;
                            @include font-primary-bold;
                        }

                        &::after {
                            background-image: var(--icon-rombo-amarillo);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .header {
        height: 72px;

        &--logo {
            width: 80px;
        }

        button {
            width: 40px;
            height: 40px;
            background-size: 40px;
        }

        nav {
            ul {
                padding: 0 var(--spacing-lg);
                row-gap: var(--spacing-lg);
                place-items: flex-start;

                li {
                    column-gap: var(--spacing-xs);

                    &::before {
                        font-size: 16px;
                        letter-spacing: 8px;
                    }

                    &::after {
                        display: none;
                        width: 16px;
                        height: 16px;
                        flex: 1 0 16px;
                    }

                    a span {
                        font-size: 32px;
                        letter-spacing: 12px;
                        position: relative;

                        &::after {
                            content: "";
                            width: 12px;
                            height: 12px;
                            flex: 1 0 12px;
                            position: absolute;
                            bottom: 10px;
                            right: -20px;
                            display: block;
                            background: var(--icon-rombo) no-repeat center /
                                contain;
                            align-self: center;
                            transition: 0.3s ease-in-out all;
                        }
                    }
                }
            }
        }
    }
}
