.header {
    height: 104px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9;

    &--logo {
        width: 110px;
        object-fit: contain;
    }

    #link-lang {
        @include text-md-24;
        text-decoration: none;
        margin: 0 32px 0 auto;

        &::first-letter {
            letter-spacing: 10px;
        }

        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
                color: var(--color-primario-400);
            }
        }
    }

    .col-12 {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        background: var(--icon-ham) no-repeat center / 50px;
        width: 54px;
        height: 54px;
        border: 0;
        z-index: 9;
        transition: 0.3s ease-in-out;

        &:hover {
            background-image: var(--icon-ham-hover);
        }

        &[aria-expanded="true"] {
            background: var(--icon-close) no-repeat center / 40px;

            &:hover {
                background-image: var(--icon-close-hover);
            }
        }
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        backdrop-filter: blur(10px);
        background: rgba(45, 45, 45, 0.3);
        z-index: 3;

        ul {
            list-style: none;
            padding: 0;
            display: grid;
            place-items: center;
            place-content: center;
            height: 100vh;
            counter-reset: menu;

            li {
                counter-increment: section;
                display: flex;
                align-items: flex-start;
                column-gap: var(--spacing-md);
                @include font-primary-light;
                text-transform: uppercase;

                span {
                    transition: 0.3s ease-in-out all;
                    @include text-xl-60;
                    @include font-primary-light;
                    letter-spacing: 24px;
                }

                &:before {
                    content: "0" counter(section);
                    @include text-lg-30;
                    letter-spacing: 12px;
                }

                &::after {
                    content: "";
                    display: block;
                    background: var(--icon-rombo) no-repeat center / contain;
                    align-self: center;
                    width: 20px;
                    height: 20px;
                    margin-top: 20px;
                    transition: 0.3s ease-in-out all;
                }

                &:hover {
                    span {
                        @include text-xxl-80;
                        @include font-primary-bold;
                    }

                    &::after {
                        background-image: var(--icon-rombo-amarillo);
                    }
                }
            }
        }
    }
}
